body{
    font-family: "Poppins", sans-serif;
    background-image: url(./images/bg.jpg);
    background-size: cover;
}
.container{
    width: 360px;
    height: 100%;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 10%;
    margin-top: 80px;
    border-radius: 5px;
}
.title{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.title h2{
    font-size: 30px;
    font-weight: 800;
}
.title img{
    height: 50px;
    width: 50px;
}
.title a{
    background-color: orangered;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(15, 123, 123);
    outline: none;
    font-size: 19px;
    border-radius: 3px;
}
button{
    width: 60px;
    height: 41px;
    background-color: rgb(8, 64, 64);
    color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    border-radius: 3px;
}
.delete ul{
    position: relative;
    background-color: rgb(11, 98, 98);
    color: white;
    font-size: 19px;
    text-align: left;
    padding: 7px 20px;
}
.delete ul i{
    position: absolute;
    cursor: pointer;
    right: 25px;
}
.delete ul i:hover{
    color: red;
}
